<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>


    <style>
        .quiz-table {
            width: 100%;
            border-collapse: collapse;
        }

        .quiz-table th,
        .quiz-table td {
            border: 1px solid #000;
            /* Add border for better visibility */
            padding: 8px;
            text-align: left;
        }

        .quiz-table th {
            background-color: #f2f2f2;
            /* Add background color for header */
        }

        /* Define equal-width columns */
        .quiz-table th,
        .quiz-table td {
            width: 25%;
            /* 4 columns with equal width */
        }
        body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
      border-right: 1px solid #bbb;
    }
    
    li:last-child {
      border-right: none;
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }

    </style>
     <script>
        window.addEventListener('DOMContentLoaded', checkJWTTokenCookie);
      function checkJWTTokenCookie() {
        const logoutLink = document.getElementById('logoutLink');
        const newLogoutLink = logoutLink.cloneNode(true);
        logoutLink.parentNode.replaceChild(newLogoutLink, logoutLink);
        document.getElementById('logoutLink').addEventListener('click', function(event) {
        event.preventDefault();
        if (confirm('Are you sure you want to logout?')){
          document.cookie = 'jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
          window.location.href = this.getAttribute('href'); // Redirect to /admin/user
        }
        });
        const jwtToken = getCookie('jwt'); 
        if (!jwtToken) {
            window.location.href = '/admin'; // Replace '/login' with the URL you want to redirect to
         } else {
          const body = document.getElementById('body');
    
          body.style.display = '';
        }
      }
    
       function getCookie(name) {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
              return cookie.substring(name.length + 1);
            }
          }
          return null;
        }
    
    
        </script>
</head>

<body>
    
    <ul>
        <li><a  href="/admin/home">Home</a></li>
        <li><a class="active" href="/admin/user">Users</a></li>
        <li><a  href="/admin/changePassword">Change Password</a></li>
        <li><a href="/admin" id="logoutLink">Logout</a></li>
      </ul>

    <% function formatTimestamp(timestamp) { const formattedDate=new Date(timestamp); const day=formattedDate.getDate();
        const month=formattedDate.toLocaleString('default', { month: 'short' }); const year=formattedDate.getFullYear();
        const hours=formattedDate.getHours(); const minutes=formattedDate.getMinutes(); const amOrPm=hours>= 12 ? 'PM' :
        'AM';
        const formattedHours = hours % 12 || 12;
        const formattedMinutes = minutes < 10 ? '0' + minutes : minutes; return `${day} ${month} ${year}
            ${formattedHours}:${formattedMinutes} ${amOrPm}`; } %>
            <h1>All User</h1>


            <table class="quiz-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length> 0) { %>
                        <div class="quiz-container">
                            <% data.forEach(quiz=> { %>
                                <tr>
                                    <td>
                                        <%= quiz.name %>
                                    </td>
                                    <td>
                                        <%= quiz.phone %>
                                    </td>
                                    <td>
                                        <%= quiz.role %>
                                    </td>
                                    <td>
                                        <%= formatTimestamp(quiz.timestamp) %>
                                    </td>
                                </tr>
                                <% }); %>
                        </div>
                        <% } else { %>
                            <p>No quizzes available.</p>
                            <% } %>

                </tbody>
            </table>



</body>

</html>